@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>VNAST – Very Nice App for Supervising Tasks</h3>
<p>
    VNAST je programski produkt namenjem organizaciji in deljenju dela med zaposlenimi neke ustanove ali podjetja. Produkt omogoča, da managerji definirajo naloge, jih dodelijo svojim delavcem, jih preglejujejo in spremljajo njihov napredek. <br />
    Pregled imajo tudi nad svojimi delavci. Le te lahko razporejajo v skupine in jih posamezno tudi spremljajo. <br />
    Delavec ima vpogled v njemu dodeljene naloge in jih lahko razrešuje. <br />
    VNAST omogoča pisanje komentarjev pod vsako nalogo in pogovore med uporabniki (torej med delavci v skupini, dvema delavnaca, managerjem in delavcem, itd.) <br />
</p>
