@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h3>Člani:</h3>
<div>
    Vid Rajtmajer, Nejc Klemenčič, Alen Masel, Simon Črešnjovnjak, Tjaž Vračko
</div>
<br />
<div>
    <a href="https://github.com/comemaster/VNAST">Naš API GitHub repositorij</a><br/>
    <a href="https://github.com/vid553/VNAST-website">Naš Website GitHub repositorij</a>
</div>
