
@{
    ViewBag.Title = "GroupChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.List != null)
{
    <h3 class="text-success">Group Chats</h3>

    <div class="container">

        @foreach (var item in ViewBag.List)
        {
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 120%;">

                    @for (int i = 0; i < item.participants.Count; i++)
                    {
                        <p style="font-size: 120%;">@item.participants[i]</p>
                }

                    <a class="btn btn-primary" href="/Chat/ShowChat/@item._id" role="button">Open Chat</a>
                    <a class="btn btn-danger" href="/Chat/DeleteChat/@item._id" role="button">Delete Chat</a>
                </div>
                <div class="panel-body">
                    <span class="pull-right">Created on: @Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy hh:mm:ss")</span>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="alert alert-danger">
        <h2>:( </h2>
        <h4>This group does not have any group chats...</h4>
    </div>
}