@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger">
    <h2>404 Error</h2>
    <h4>The page you're looking for does not exist.</h4>
</div>
<div class="container-fluid">
    @Html.ActionLink("Go Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>