@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="alert alert-danger">
    <h2>500 Internal Server Error</h2>
    <h4>Server error :(</h4>
</div>
<div class="container-fluid">
    @Html.ActionLink("Go Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>

