
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Request.Url.Segments[3];
}

<h2>Messages</h2>
@if (Model != null)
{
    <table align="center" class="table table-striped">
        <thead>
            <tr class="info">
                <th>Time</th>
                <th>Send by</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy hh:mm:ss")</td>
                    <td>@item.created_by</td>
                    <td>@item.content</td>
                </tr>
            }
        </tbody>
    </table>

    using (Html.BeginForm("SendMessage", "Chat"))
    {
        <input type="hidden" name="chat_id" value="@id">
        <input type="text" name="reply" title="Input text to send" style="height:35px" />
        <input type="submit" value="Send" class="btn btn-primary" />
    }
}